{
    "env": {
        "browser": true,
        "es6": true,
        "jasmine": true,
        "jest": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true
    },
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    // "settings": {
    //     "react": {
    //         "pragma": "React",
    //         "version": "detect"
    //     }
    // },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": ["error", {"singleQuote": true}],
        "no-unused-vars": 1,
        "no-var": 2,
        "no-console": "warn",
        "no-empty": "warn",
        "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": false,
                "MethodDefinition": false,
                "ClassDeclaration": false,
                "ArrowFunctionExpression": false,
                "FunctionExpression": false
            }
        }],
        "valid-jsdoc": [2, {
            "prefer": {
                "arg": "param",
                "argument": "param",
                "return": "returns"
            },
            "preferType": {
                "object": "Object"
            },
            "requireParamDescription": true,
            "requireReturnDescription": true,
            "requireParamType": true
        }],
        "@typescript-eslint/explicit-member-accesibility": 0,
        "@typescript-eslint/explicit-function-return-type": 0       
    }
}